* {
    margin: 0px auto;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
}

.cont_principal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #85157b;
    background-image: linear-gradient(-87deg, #85157b, #e740f4);
}

.cont_centrar {
    position: absolute;
    width: 320px;
    left:50%;
    top:50%;
    margin-left: -160px;
    margin-top: -160px;
}

.cont_centrar {
    position: relative;
    width: 320px;
    float: left;
    background-image: linear-gradient(-226deg, #FFFFFF 8%, #EEF3F5 100%);

    border-radius: 8px;
    transition: all 0.5s;
}

.cent_active {
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.21);
}


.cont_tabs_login {
    position: relative;
    float: left;
    width: 100%;
}

.ul_tabs > li {
    position: relative;
    float: left;
    width: 50%;
    list-style: none;
    text-align: center;

}

.ul_tabs > li > a  {
    text-decoration: none;
    font-family: Helvetica;
    font-size: 16px;
    color: #999;
    line-height: 14px;
    padding: 20px ;
    display: block;
    transition: all 0.5s;
}

.ul_tabs > .active > a  {
    color: #85157b;

}

.linea_bajo_nom {
    position: relative;
    width: 100%;
    float: left;
    background-color: #999;
    height: 2px;
}

.active .linea_bajo_nom {
    position: relative;
    width: 100%;
    float: left;
    background-color: #85157b;
    height: 2px;
}

.cont_text_inputs {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;
}

.input_form_sign {
    position: relative;
    float: left;
    width: 90%;
    border: none;
    border-bottom: 1px solid #B0BEC5 ;
    background-color: transparent;
    font-size: 14px;
    outline: none;
    transition: all 0.5s;
    height: 0px;
    margin: 0px;
    padding: 0px;
    opacity: 0;
    display: none;
}

.active_inp {
    margin: 5% 5% ;
    padding: 10px 0px;
    opacity: 1;
    height: 5px;
}



.input_form_sign:focus {
    border-bottom: 1px solid #85157b ;}

.link_forgot_pass {
    position: relative;
    margin-top: 0px;
    margin-left: 30%;
    text-decoration: none;
    color: #999;
    font-size: 13px;
    display: none;
    float: left;
    transition: all 0.5s;
}
.cont_btn {
    position: relative;
    float: left;
}

.btn_sign {
    background: #85157b;
    box-shadow: #5f1755;
    border-radius: 8px;
    padding: 15px 30px;
    border: none;
    color: #fff;
    font-size: 14px;
    position: relative;
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.terms_and_cons {
    width: 70%;
    color: #999;
    font-size: 13px;
    transition: all 0.5s;
}

.d_none {
    display: none;
}

.d_block {
    display: block;
}

.cont_text_inputs > input:nth-child(1){
    transition-delay: 0.2s;
}

.cont_text_inputs > input:nth-child(2){
    transition-delay: 0.4s;
}
.cont_text_inputs > input:nth-child(3){
    transition-delay: 0.6s;
}
.cont_text_inputs > input:nth-child(4){
    transition-delay: 0.8s;
}
