* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: ;
}

body {
    background-color: #181C30;
    color: black;
}

.login-menu {
    background-color: #f5f5f5 !important;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    padding-bottom: 20px;
    margin-top: 20px;
}

.login-menu button {
    border-radius: 50px 50px 50px 50px;
}


.register-menu {
    background-color: #f5f5f5 !important;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    padding-bottom: 20px;
    margin-top: 20px;
}

.register-menu button {
    border-radius: 50px 50px 50px 50px;
}

.error {
    text-align: center;
    color: #ff5569;
}


.avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}


.user-menu {
    background-color: #ffffff;
}

.titletext {
    color: #3973ad;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0;
}

.subtext {
    color: #343434;
    font-weight: lighter;
    margin-top: 0;
}

.titletext-dark {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0;
}

.subtext-dark {
    color: #ffffff;
    font-weight: lighter;
    margin-top: 0;
}

.jumbotron {
    margin-top: 10px;
}

.card {
    margin-top: 10px;
}