* {
    margin: 0 0 0 0; !important;
    padding: 0 0 0 0; !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    overflow: hidden;
}

.top-bar {
    background-color: #2a2a2a;
    height: 20%;
}

.top-bar  .path {
    color: #b1b1b1;
    font-size: 15px;
    margin-left: 30px;
}

.top-bar  .path  .path-exception {
    color: #ff5569;
}

.top-bar  .title {
    color: white;
    margin-left: 30px;
    margin-top: -10px;
}

.top-bar .exception-icon {
    color: #fff;
    font-size: 100px;
    text-align: right;
    margin-right: 30px;
    font-weight: 800;
}

.stack-bar {
    background-color: #ded8d8;
    margin-top: -2px;
    width:100%;
    height:100%;
    min-height:100%;
    padding:10px;
}

.stack-bar  .info {
    color: #7a7a7a;
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 3px;
}

.stack-bar  .stack-item {
    background-color: #eeeeee;
    width: 98%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 1px;
}

.stack-bar  .stack-item  .stack-item-info {
    margin-left: 10px;
}

.stack-bar  .stack-item  .row .number {
    background-color: whitesmoke;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    color: #7a7a7a;
    text-align: center;

    margin-top: 14px;
    margin-bottom: 10px;
}

.stack-bar  .stack-item  .row  .title {
    font-size: 20px;
    margin-left: 8px;
    font-weight: 500;
    color: #000;

    margin-top: 10px;
    margin-bottom: 10px;
}

.stack-bar  .stack-item  .row  .title:hover {
    color: #4288ce;
    text-decoration: none;
}

.stack-bar  .stack-item:hover {
    border-right: 5px solid #4288ce;
}

.stack-bar  .stack-item  .row  .title:active {
    color: #3973ad;
    text-decoration: none;
}

.stack-bar  .stack-item  .location {
    margin-left: 20px;
    font-weight: 200;
    color: #7a7a7a;
}


.code {
    background-color: #303030;
    padding: 10px 20px 10px 20px;
}

.code-text {
    font-size: 20px;
}

.code  .info {
    color: #7d7a7a;
    font-size: 18px;
}

.code  .location {
    color: #a29d9d;
    font-weight: 400;
    font-size: 20px;
}

pre code {
    background: #333333;
    display: block;


    padding: 0.1em 0.5em 0.3em 1.6em;
    border-left: 11px solid #ccc;
    margin: 1.7em 0 1.7em 0.3em;
    overflow: auto;
    width: 93%;
    font-family: "Courier New", Courier, monospace, sans-serif;

    scrollbar-color: #ff5569 #333333;
    scrollbar-width: thin;
}

::-webkit-scrollbar{
    height: 8px;
    width: 4px;
    background: #333333;
}
::-webkit-scrollbar-thumb:horizontal{
    background: #ff5569;
    height: 8px;
    border-radius: 10px;
}

::-webkit-scrollbar:hover{
    cursor: pointer;
}

::-webkit-scrollbar-thumb:horizontal:hover{
    cursor: pointer;
}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    left:40px;
    background-color: #333333;
    color:#FFF;
    border-radius:2px;
    text-align:center;
}

.my-float{
    margin-top:22px;
}

.float:hover {
    animation-name: back-btn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    background-color: white;
    color: black;
}

@keyframes back-btn {
    from {
        background-color: #333333;
        color: #FFF;
    }

    to {
        background-color: white;
        color: black;
    }
}

.error-line * {
    color: #ff5569;
    font-size: 25px;
    text-decoration: underline;
    width: 100%;
}

/* White background color for all even-numbered lines */
li.L0,
li.L2,
li.L4,
li.L6,
li.L8  { background-color: #1d1f21; }
/* Light-gray background color for all odd-numbered lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background-color: #1f2123;
    width: 100%;}

.exception-icon {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@media (max-width: 575.98px) { .exception-icon {display: none;  } }

@media (min-width: 576px) and (max-width: 767.98px) { .exception-icon {display: block;} }

@media (min-width: 768px) and (max-width: 991.98px) { .exception-icon {display: block;} }

@media (min-width: 992px) and (max-width: 1199.98px) { .exception-icon {display: block;} }

@media (min-width: 1200px) { .exception-icon {display: block;}}